<a href="https://colab.research.google.com/github/StanleySosmena/PLNG211-2-OLFU-QC/blob/main/Intro_to_pyhton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#this is a comment
print("Hello, World")

In [ ]:
print("Hello, world")

Hello, world

Python variable

In [ ]:
#Single variable

a = float (17)
b = 10
print(a)
print(b)

#multiple variables

a,b = float(17),-1

#string types

K = "Jomay"
print(K)
K = str("Jomay")
print(K)
print(K)
print(K)
print(K)

17.0
10
Jomay
Jomay
Jomay
Jomay
Jomay

In [ ]:
print(type(K))

<class 'str'>

In [ ]:
#Proper Indentation
if 7<6:
 print("3 is less than 6 ")
else:
  print("Invalid")

Invalid

In [ ]:
#single and Double quote
S = "samantha"
s = 'SAMANTHA'
print(S)
print(s)

samantha
SAMANTHA

In [ ]:
#Multiple Variables
a,b,c = "Do","Re","Mi"
print(a)
print(b)
print(c)

Do
Re
Mi

In [ ]:
#Single values to multiple Variables
a=b=c="SARANGHAE"
print(a)
print(b)
print(c)

SARANGHAE
SARANGHAE
SARANGHAE

In [ ]:
#Output Variables
a = "HOT"
b = "DOG"
print(a+b)
print(a+" "+b)

HOTDOG
HOT DOG

In [ ]:
#Arithmetic Operations
a = 4*6
print(a)
b = 4//6
print(b)

24
0

In [ ]:
#Comparison Operators
a = 6<7
b = 6>7
c = 100<1
print(a)
print(b)
print(c)
(b and c )

True
False
False

False

In [ ]:
#Identity Operators
b is c

True

In [ ]:
#Bitwise Operators
A = 23
A<<20

24117248